.flex {
  display: flex;
  flex-wrap: wrap;
}

.shopping-card {
  justify-content: space-between;
  background-color: #61dafb;
  padding: 20px 30px;
}

.product-item {
  padding: 20px;
}
#cartlist{
  justify-content: center;
  align-items: center;
  margin: 10px;
 border:1px solid black;
 padding:20px;
 gap:40px;
  

}
#cartimg{
margin-left: 20px;
margin-right: 20px;
}
#total{
  justify-content: center;

}
#one{
  text-align: center;
  margin-top:50px;
}
#cartname{
  margin-left: 20px;
margin-right: 20px;
}
#price{
  margin-left: 20px;
margin-right: 20px;
}
#checkout{
  text-align: center;
  margin-top:50px;
  padding: 20px;
}
#checkout>button{
  background-color: #61dafb;
  padding: 15px;
  border-radius: 5px;
}
.form{
  height: 300px;
  width: 900px;

  margin-top: 40px;
}
.two{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#last{
  font-size:5px;
  color:red;
}